*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --clr-primary: #a16e55;

  --clr-accent: #e4d8d0;

  --clr-text: #0d2435;

  --clr-background: #fff;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  background: var(--clr-background);
  color: var(--clr-text);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  width: 80%;
  max-width: 120rem;
  margin: 0 auto;
}
